<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ book.name }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    {% if messages %}
    <div class="container">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="container text-center">
        
        <img src="{{ detail.image.url }}" style="width: 400px; height:500px;">
        <h1>{{ detail.name }}</h1>
        <h4 style="color: brown;">{{ detail.description }}</h4>
        <h3>Price: Rs.{{ detail.price }}</h3>
        <a href="#" class="btn btn-secondary">Cars</a>
        <a href="#" class="btn btn-success">Purchase</a>
        <a href="#" class="btn btn-success">Add to Cart</a>

    </div>
</body>
</html>
